.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 12vw;
    /*vertical-align: middle;*/
}